language = "cpp"
run="export CC=clang; export CXX=clang++; rm -rf ../build; mkdir -p ../build; cd ../build; cmake ../acc-cosc-1337-fall-2020-Grecia1813-1/; make; cd test/examples_test/04_module_test; ./ex_04_tests -s;"






